<form (ngSubmit)="onSubmit()" name="login-form" #articleForm="ngForm">
  <div class="form-message">
    {{formMessage}}
  </div>
  <div class="form-row">
    <div class="form-label-container">
      <label for="username">Username</label>
    </div>
    <div class="form-input-container">
      <input [(ngModel)]="username"
             id="username"
             name="username"
             required
             #usernameField="ngModel">
      <div class="form-input-error-container"
           [hidden]="usernameField.valid || usernameField.pristine">
        Username is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-label-container">
      <label for="password">Password</label>
    </div>
    <div class="form-input-container">
      <input [(ngModel)]="password"
             type="text"
             id="password"
             name="password"
             required>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="!articleForm.form.valid">Submit</button>
  </div>
</form>
