<form *ngIf="article != null" (ngSubmit)="onSubmit()" name="article-form" #articleForm="ngForm">
  <div class="form-message">
    {{formMessage}}
  </div>
  <div class="form-row">
    <div class="form-label-container">
      <label for="title">Title</label>
    </div>
    <div class="form-input-container">
      <input [(ngModel)]="article.title"
             id="title"
             name="title"
             required
             #spy
             #title="ngModel">
      <div class="form-input-error-container"
           [hidden]="title.valid || title.pristine">
        Name is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-label-container">
      <label for="content">Content</label>
    </div>
    <div class="form-input-container">
      <textarea [(ngModel)]="article.content" id="content"
                name="content" required></textarea>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="!articleForm.form.valid">Submit</button>
  </div>
</form>

