@import "../../../variables";

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1084;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  max-width: 50%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  min-height: 100px;
  background-color: white;
  color: $primary-color;
}

.modal-body {
  padding-bottom: 1em;
}

.modal-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
