<div class="modal" *ngIf="!messagesService.hidden">
  <div class="modal-content">
    <div class="modal-body">
      {{messagesService.message}}
    </div>
    <div class="modal-footer">
      <button *ngIf="messagesService.onCancel != null" (click)="messagesService.onCancel()">Cancel
      </button>
      <button *ngIf="messagesService.onOk != null" (click)="messagesService.onOk()">OK</button>
    </div>
  </div>
</div>
