<div><a routerLink="/article/new" *ngIf="sessionService.currentSession != null">New</a></div>
<div class="article-list">
  <div *ngFor="let article of articles" class="article-container">
    <app-article [article]="article"></app-article>
  </div>
</div>

