@import "../../../variables";

.title {
  font-size: $font-size-large;
}

.article-list {
  display: flex;
  flex-direction: column;
}

.article-container {
  flex-basis: 100%;
  padding-bottom: 1em;
}
