@import "../variables";

.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  flex-direction: column;
  display: flex;
  width: $body-width;
  max-width: $body-max-width;
  padding-top: $margin-between-top-menu-and-bottom + $top-menu-height;
}
