<nav class="container">
  <ul class="list">
    <li class="element"><a routerLink="/">Home</a></li>
    <li class="element" *ngIf="sessionService.currentSession == null">
      <a routerLink="/login">Login</a>
    </li>
  </ul>
</nav>

