@import "../../../variables";

.container {
  display: flex;
  justify-content: center;
  height: 48px;
  background-color: #005185;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.list {
  width: $body-width;
  max-width: $body-max-width;
  list-style: none;
  display: flex;
  align-items: center;
}

.element {
  display: block;
  margin-right: 1em;
}

a {
  color: white;
  font-weight: bold;
}
