/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: $font-size-normal;
  color: $primary-color;
  padding: 1em;
}

button {
  transition: background-color 200ms linear;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #21c317;
  border: 0;
  color: white;
  font-weight: bold;
  width: 10em;
}

button:hover {
  transition: background-color 200ms linear;
  background-color: #25d818;
}

a {
  text-decoration: none;
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: #00a7f3;
    text-decoration: underline;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  min-height: 5em;
}

input {
  width: 100%;
  padding: 0.4em;
}

.form-row {
  width: 100%;
  padding-bottom: 0.5em;
}

.form-label-container {
  width: 100%;
}

.form-input-container {
  width: 100%;
}

.ng-valid[required], .ng-valid.required {
  border: 1px solid #42A948;
}

.ng-invalid:not(form) {
  border: 2px solid #a93c15;
}

textarea, input {
  border: 1px #29788a solid;
}

textarea:focus, input:focus {
  outline: 1px #29788a solid;
}
