$font: Helvetica, sans-serif;
$primary-color: #111111;
$font-size-normal: 16px;
$font-size-large: 22px;

$body-max-width: 1200px;
$body-width: 100%;

$top-menu-height: 48px;
$margin-between-top-menu-and-bottom: 20px;

$link-color: #0080b9;
